{% extends "base.html" %}
{% block content %}
<h2>Editar Profissional</h2>
<form method="post">
  <label>Nome: <input type="text" name="nome" value="{{ profissional.nome }}" required></label><br>
  <label>Especialidade: <input type="text" name="especialidade" value="{{ profissional.especialidade }}" required></label><br>
  <label>CRM: <input type="text" name="crm" value="{{ profissional.crm }}" required></label><br>
  <button type="submit">Salvar</button>
</form>
<a href="/profissionais">Voltar</a>
{% endblock %}
